body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

header{
    width: 100%;
    height: 30px;
    padding: 10px;
}
.navbar-left{
    float: left;
}
.navbar-left ul{
    max-width: 100%;
    height: auto;
    display: flex;
    list-style: none;
}
.navbar-left ul li{
    margin-right: 20px;
    padding: 5px;
}
.navbar-left ul li a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
}
.navbar-right{
    float: right;
}

.navbar-right ul{
    max-width: 100%;
    height: 10px;
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
.navbar-right ul li{
    margin-right: 20px;
    align-items: flex-start;
}
.navbar-right ul li a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
}

.navbar-right ul li svg{
    width: 17px;
    height: 17px;
}

.navbar-right ul li button{
    padding: 7px 15px;
    font-size: 12px;
    background-color: #4285f4;
    font-weight: 600;
    color: #Fff;
    text-align: center;
    margin-top: -10%;
}

.navbar-right ul li a:hover, .navbar-left ul li a:hover{
    text-decoration: underline;
    color: rgba(0,0,0,1);
}

/*container*/
.container{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 10%;
    text-align: center;
}
.container img{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
}
.container input{
    width: 600px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    background: url('asset/outline_search_black_24dp.png') no-repeat scroll 7px 7px;
    outline: none;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 40px;
}
.submit-button{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

button{
    border: 1px solid rgba(0,0,0,0.2);
    margin-right: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 15px;
    color: rgba(0,0,0,0.5);
}

/*footer*/
footer{
    width: 100%;
    height: 50px;
}

.bot-nav-left {
    float: left;
}
.bot-nav-left ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.bot-nav-left ul li{
    margin-right: 10px;
    font-size: 14px;
    padding: 5px;
}
.bot-nav-left ul li a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

.bot-nav-right{
    float: right;
}

.bot-nav-right ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.bot-nav-right ul li{
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
}
.bot-nav-right ul li a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}
.bot-nav-right ul li a:hover, .bot-nav-left ul li a:hover{
    text-decoration: underline;
}